
 * {
    margin: 0;
    padding: 0;
 }

body {
   background-image: url(imagens/inksane.png);
   background-repeat: no-repeat;
   background-size: 30%;
   background-position: top;
}

.icones {
   position: absolute;
   bottom: 20%;
   display: block;
   left: 45%;
   cursor: pointer;
   font-size: 200%;
}

footer {
   text-align: center;
   position: absolute;
   bottom: 2%;
   display: block;
   line-height: 1.5;
   left: 42.5%;
   font-size: 20px;
}

div a {
   color: #000000;
} 

div a:hover {
   color: #C78C19;
}

@media screen and (max-width: 480px) { 
   * {
      margin-top: 30%;
   }
   body {
      background-image: url(imagens/inksane.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: top;
   }

   .icones {
      position: absolute;
      bottom: 38%;
      display: block;
      left: 33%;
   }

   footer {
      text-align: center;
      position: absolute;
      bottom: 20%;
      display: block;
      line-height: 1.5;
      left: 25%;
      font-size: 20px;
   }
}